<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src='/js/app.js'></script>
</head>
<body>
    {{>header}}
    <p>This site was created by Masiha. It uses data from mapbox.com and darksky.com to fetch weather information</p>
    <img class='portrait'  src="/img/robot.png" alt="">

    {{>footer}}
    {{!-- <p>Created by {{name}}</p> --}}
    {{!-- <h1>{{title}}</h1>
    <p>{{name}}</p> --}}
    {{!-- <img src="/img/robot.png" alt=""> --}}
</body>
</html>